$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@import "compass/css3";

%add-grayscale {
    filter: url('../js/iegray-filters.svg#grayscale'); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Webkit Nightlies & Google Chrome Canary */
}
%remove-grayscale {
    filter: none !important; /* Applies to FF + IE */
    -webkit-filter: grayscale(0) !important;
}

%font {
	font-family: 'Oswald', sans-serif;
}
%opensans {
	font-family: 'Open Sans', sans-serif;
}
@mixin blur($amt:5px){
	filter: blur($amt);
	-webkit-filter: blur($amt);
	-moz-filter: blur($amt);
	-o-filter: blur($amt);
	-ms-filter: blur($amt);
}

%link {
	color: red;
	@include transition(color, 0.5s);
	&:hover {
		color: white;
		@include transition(color, 0.5s);
	}
	&:focus {
		color: red;
	}
}

body {
  padding: 60px 0 30px 0;
  background-color: #000;

  @extend %opensans;
  color: white;
}

a {
	@extend %link;
	@extend %font;
}

.root-container {
  padding: 0 15px;
}

.footer {
  padding-top: 30px;
}

.navbar{
	background-color: rgba(#000, 0.7);
	border: 0;

	.nav {
		margin-left: 10px;
		> li > a {
			text-transform: uppercase;
			color: white;
			@extend %font;
			&:hover {
				color: #999;
			}
			&:focus {
				color: white;
			}
		}
		> li > a.active {
			color: red;
			&:hover,
			&:focus {
				color: red;
			}
		}
	}
}
.navbar-brand {
	text-transform: uppercase;
	font-size: 42px;
	background-color: red !important;
	color: white !important;
	margin-left: 0 !important;
}

.black-cover {
	background-color: rgba(#000, 0.8);
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}

/* 
 *
 */

.page-header {
	text-transform: uppercase;
	@extend %font;
	border-bottom: 1px dotted #666;
}

%panel {
	background-size:cover;
	background-color: #333;
	margin-bottom: 30px;
	// @include border-radius(20px);

	/* @include opacity(1);
	
	@include transition(opacity, 0.5s);
	@include transition(filter, 0.5s);

	&:hover {
		@include opacity(0.5);
		@include blur(10px);
		@extend %add-grayscale;
		// @extend %remove-grayscale;
		@include transition(opacity, 0.5s);
		@include transition(filter, 0.5s);

		.title {
			@include opacity(1);
		}
	} */
}

.character {
	height: 200px;
	@extend %panel;
}

.comic-tile {
	.title {
		@extend %font;
		text-align: center;

		width: 100%;
		padding: 15px;
		position: absolute;
		@include opacity(0);
		@include transition(opacity, 0.5s);
	}
	&:hover {
		.title {
			@include opacity(1);
			@include transition(opacity, 0.5s);
		}
	}
}
.comic {
	height: 400px;
	@extend %panel;
}
.creator {
	padding: 5px 0;
}

.credits-left {
	padding-left: 0;
}