<!-- Add your site or application content here -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#marvel-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/">Marvel</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="marvel-collapse">
      <ul class="nav navbar-nav">
	      <li><a href="#/">Comics</a></li>
	      <li><a href="#/characters">Characters</a></li>
        <li><a href="#/creators">Creators</a></li>
        <li><a href="#/events">Events</a></li>
        <li><a href="#/series">Series</a></li>
        <li><a href="#/stories">Stories</a></li>
	      <li><a href="#/about">About</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>