<a href ng-click="ctrl.back()" onclick="this.blur();"><span class="glyphicon glyphicon-chevron-left"></span></a>
<a href ng-click="ctrl.next()" onclick="this.blur();"><span class="glyphicon glyphicon-chevron-right"></span></a>
<a href ng-click="ctrl.reset()" onclick="this.blur();"><span class="glyphicon glyphicon-remove"></span></a>