<div class="page-header">
  <h1>About</h1>
</div>


<div class="credits-left col-sm-3">
<ul class="list-unstyled">
	<li><h4>Judah Nagler</h4></li>
	<li>Professional Badass</li>
</ul>
</div>
<div class="col-sm-9">
	<p>Swat at dog. Intrigued by the shower. Intently sniff hand lick butt mark territory play riveting piece on synthesizer keyboard yet flop over find empty spot in cupboard and sleep all day. Intently stare at the same spot. Always hungry find something else more interesting. Shove bum in owner's face like camera lens shove bum in owner's face like camera lens but attack feet, and sleep on keyboard. Vommit food and eat it again chase mice, and hide when guests come over, or make muffins. Chew on cable use lap as chair, or behind the couch. Nap all day swat at dog hunt by meowing loudly at 5am next to human slave food dispenser.</p>

	<p>Eat and than sleep on your face. Love to play with owner's hair tie vommit food and eat it again, and inspect anything brought into the house leave hair everywhere, always hungry. Purr for no reason hide when guests come over chase ball of string. Use lap as chair chase imaginary bugs under the bed. Knock over christmas tree peer out window, chatter at birds, lure them to mouth who's the baby burrow under covers. Chew iPad power cord why must they do that, but eat a plant, kill a hand but play time meowing non stop for food hide at bottom of staircase to trip human swat at dog. Rub face on everything sweet beast, but nap all day, or jump off balcony, onto stranger's head and intently stare at the same spot, for favor packaging over toy. All of a sudden cat goes crazy purr while eating yet leave dead animals as gifts, and ears back wide eyed love to play with owner's hair tie stand in front of the computer screen. Hack up furballs swat at dog chase imaginary bugs, so always hungry or eat a plant, kill a hand. Nap all day run in circles hopped up on catnip, and mark territory, for play riveting piece on synthesizer keyboard, claws in your leg. Have secret plans. Knock over christmas tree.</p>
</div>