<div ng-controller="ResultsCtrl as ctrl" ng-init="init('characters')">
  
  <!-- Page Header (gets title from init: category) -->
  <page-header></page-header>

  <!-- Page specific results -->

  <div class="row">
    <div class="character-tile col-sm-4 col-md-3" ng-repeat="character in ctrl.results">
      <a href="#/{{character.id}}">
        <div class="character" style="background-image: url({{character.thumbnail.path}}.{{character.thumbnail.extension}})" >
          <!-- <h5>{{character.name}}</h5> -->
        </div>  
      </a>
    </div>
  </div>

</div>
