<div ng-controller="ResultsCtrl as ctrl" ng-init="init('comics')">
  
  <!-- Page Header (gets title from init: category) -->
  <page-header></page-header>

  <!-- Page specific results -->
  <div class="row">
    <div class="comic-tile col-xs-6 col-sm-3 col-md-3" ng-repeat="comic in ctrl.results">
      <a href="#/{{comic.id}}">
      	<!-- <h3 class="title">{{comic.title}}</h3> -->
        <div class="comic" style="background-image: url({{comic.thumbnail.path}}.{{comic.thumbnail.extension}})" ></div>  
      </a>
    </div>
  </div>

</div>