<div ng-controller="ResultsCtrl as ctrl" ng-init="init('creators')">
  
  <!-- Page Header (gets title from init: category) -->
  <page-header></page-header>

  <!-- Page specific results -->

  <div class="row">
      <div class="col-xs-6 col-sm-3 col-md-2" ng-repeat="creator in ctrl.results">
        <a href="#/{{creator.id}}">
  	    <div class="creator">
  		    <h4>{{creator.fullName}}</h4>
  		</div>
        <!-- <div class="creator" style="background-image: url({{creator.thumbnail.path}}.{{creator.thumbnail.extension}})" > -->
      </a>
    </div>
  </div>

</div>