<div ng-controller="ResultsCtrl as ctrl" ng-init="init('stories')">
  
  <!-- Page Header (gets title from init: category) -->
  <page-header></page-header>

  <!-- Page specific results -->

  <div class="row">
    <div class="col-xs-6 col-sm-3 col-md-2" ng-repeat="stories in ctrl.results">
      <a href="#/{{stories.id}}">
  	    <div class="creator">
  		    <h4>{{stories.title}}</h4>
    		</div>
      </a>
    </div>
  </div>

</div>
